# Загальні тимчасові файли
*.java.hsp
*.sonarj
*.sw*
.DS_Store
argfile*
cached-antora-playbook.yml

# Логи
jxl.log
jmx.log
derby.log

# Файли збірки та кеші
/build
build.sh
buildSrc/build
.gradle
.gradletasknamecache
ivy-cache
activemq-data/

# Gradle
/spring-*/build
/framework-*/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/

# Maven
pom.xml
/target/

# Eclipse
bin
.classpath
.project
.settings
.springBeans
spring-*/src/main/java/META-INF/MANIFEST.MF

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/*
!.idea/icon.svg
out
test-output
atlassian-ide-plugin.xml

# VS Code
.vscode/

# Node.js
node_modules

# Kotlin
/.kotlin/

# Інші артефакти та тимчасові файли
integration-repo
